
.animated[data-v-29ef4d68] {
    animation-duration: .6s;
}

.animated[data-v-3a4096b7] {
    animation-duration: .6s;
}

.animated[data-v-095b9d95] {
    animation-duration: .3s;
}
html {
  min-width: 800px;
  overflow: hidden;
  overflow-y: auto;
  font-family: 'Lato', sans-serif;
  background-color: #222; }

.container-fluid {
  background-color: #222;
  color: #eee;
  max-width: auto; }
